body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.container-turnos{
    border-top: 1px solid;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 5px;
    background-color: white;
}

.master-detail .right-column{
    border-left: 1px solid;
    border-color: grey;
    margin-top: -16px;
}

.panel-heading h3{
    display: inline;
}
.panel-heading button{
    margin-top: -8px;
}




/*Modal confirmation (Just yes or no)*/
.modal-confirmation{
    width: 300px;
}


.modal-confirmation .btn-cancel{
    float:left;
}

.modal-confirmation .btn-confirm{
    float:right;
}