<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Nuevo paciente</h3>
        </div>
        <div class="panel-body">
            <form name="NewPacienteCtrl.newPacienteForm">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="alert alert-dismissable alert-warning" ng-show="NewPacienteCtrl.errorMessage">
                            <button type="button" class="close" ng-click="NewPacienteCtrl.hideErrorMessage()">×</button>
                            <p>{{NewPacienteCtrl.errorMessage}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                            <div class="form-group" ng-class="{'has-error':NewPacienteCtrl.newPacienteForm.firstName.$error.required}">
                                <span><label>Nombre*</label></span>
                                <input type="text" name="firstName" maxlength="70" class="form-control" ng-model="NewPacienteCtrl.newPaciente.firstName" required>
                                <span><label>(máximo 70 caracteres)</label></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                            <div class="form-group">
                                <span><label>Otro nombre</label></span>
                                <input type="text" name="otherNames" maxlength="70" class="form-control" ng-model="NewPacienteCtrl.newPaciente.otherNames">
                                <span><label>(máximo 70 caracteres)</label></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                            <div class="form-group" ng-class="{'has-error':NewPacienteCtrl.newPacienteForm.fatherSurname.$error.required}">
                                <span><label>Apellido paterno*</label></span>
                                <input type="text" name="fatherSurname" maxlength="70" class="form-control" ng-model="NewPacienteCtrl.newPaciente.fatherSurname" required>
                                <span><label>(máximo 70 caracteres)</label></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                            <div class="form-group">
                                <span><label>Apellido materno</label></span>
                                <input type="text" name="motherSurname" maxlength="70" class="form-control" ng-model="NewPacienteCtrl.newPaciente.motherSurname">
                                <span><label>(máximo 70 caracteres)</label></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span><label>Tipo y número de documento</label></span>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        <div class="form-group" ng-class="{'has-error':NewPacienteCtrl.newPacienteForm.documentType.$error.required}">
                                            <select class="form-control" name="document" ng-model="NewPacienteCtrl.newPaciente.documentType" ng-options="document.name for document in NewPacienteCtrl.documents"  ng-required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 form-group">
                                        <input class="form-control" maxlength="10" type="text" name="documentNumber" id="documentNumber" ng-model="NewPacienteCtrl.newPaciente.documentNumber" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-10 col-lg-10 col-lg-10 col-lg-10">
                            <div class="form-group" ng-class="{'has-error':NewPacienteCtrl.newPacienteForm.birthDate.$error.required}">
                                <span><label>Fecha nacimiento</label></span>
                                <input rsmdatedropdowns ng-model="NewPacienteCtrl.newPaciente.birthDate"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span><label>Sexo al nacer</label></span>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group" ng-class="{'has-error':NewPacienteCtrl.newPacienteForm.genderAtBirth.$error.required}">
                                            <select class="form-control" name="genderAtBirth" ng-model="NewPacienteCtrl.newPaciente.genderAtBirth" ng-options="genderAtBirth.name for genderAtBirth in NewPacienteCtrl.sexTypes" ng-required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span><label>Genero por eleccion</label></span>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group" ng-class="{'has-error':NewPacienteCtrl.newPacienteForm.genderOfChoice.$error.required}">
                                            <select class="form-control" name="genderOfChoice" ng-model="NewPacienteCtrl.newPaciente.genderOfChoice" ng-options="genderOfChoice.name for genderOfChoice in NewPacienteCtrl.sexTypes" ng-required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                            <div class="form-group">
                                <span><label>Email</label></span>
                                <input type="text" name="email" maxlength="70" class="form-control" ng-model="NewPacienteCtrl.newPaciente.email">
                                <span><label>(máximo 70 caracteres)</label></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                            <div class="form-group" ng-class="{'has-error':NewPacienteCtrl.newPacienteForm.telephone.$error.required}">
                                <span><label>Telefono*</label></span>
                                <input type="text" name="telephone" maxlength="70" class="form-control" ng-model="NewPacienteCtrl.newPaciente.telephone" required>
                                <span><label>(máximo 70 caracteres)</label></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <div class="col-xs-2 col-xs-offset-7 col-sm-2 col-sm-offset-7 col-md-2 col-md-offset-7 col-lg-2 col-lg-offset-7">
                                    <button id="btn-cancel" type="button" class="btn btn-default" ng-click="NewPacienteCtrl.close()">Cancelar</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button id="btn-confirm" type="submit" class="btn btn-success  pull-right"ng-click="NewPacienteCtrl.confirm()"><span class="glyphicon glyphicon-ok"></span> Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>