<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<form class="form-inline" name="PacientesCtrl.searchPreferencesForm">
					<div class="col-md-5">
						<h3 class="panel-title">Pacientes</h3>
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" placeholder="Nombre" ng-model="PacientesCtrl.nameFilter">
						<button type="button" class="btn btn-default" ng-click="PacientesCtrl.searchName()">Buscar</button>
					</div>
					<div class="col-md-2">
						<select class="form-control" ng-model="PacientesCtrl.statusFilter" ng-change="PacientesCtrl.searchName()">
							<option value="1">Activos</option>
							<option value="2">Activos e inactivos</option>
							<option value="3">Inactivos</option>
						</select>
					</div>
					<div class="col-md-2">
						<button id="btn-confirm" type="button" class="btn btn-success pull-right" ng-click="PacientesCtrl.newPaciente()">
							<span class="glyphicon glyphicon-plus"></span> Nuevo paciente
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="panel-body">
			<div class="col-md-4" style="border-right: 1px solid;">
				<table class="table table-hover">
					<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Apellido</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="(key, paciente) in PacientesCtrl.pacientes" ng-click="PacientesCtrl.detail(paciente)" ng-class="{active:paciente == PacientesCtrl.paciente}">
						<th scope="row">{{paciente.id}}</th>
						<td style="max-width:125px; word-wrap:break-word;">{{paciente.firstName}}</td>
						<td style="max-width:125px; word-wrap:break-word;">{{paciente.fatherSurname}}</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-8" ng-show="PacientesCtrl.paciente">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 10px;">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<button ng-click="PacientesCtrl.modifyPaciente(PacientesCtrl.paciente)" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil"></span> Detalle/Modificar</button>
							</div>
						</div>
						<div class="detail-info">
							<div class="row">
								<div class="col-md-4"><label>Nombre</label></div>
								<div class="col-md-8" style="word-wrap:break-word;">{{PacientesCtrl.paciente.firstName}} {{PacientesCtrl.paciente.otherNames}}</div>
							</div>
							<div class="row">
								<div class="col-md-4"><label>Apellido</label></div>
								<div class="col-md-8" style="word-wrap:break-word;">{{PacientesCtrl.paciente.fatherSurname}} {{PacientesCtrl.paciente.motherSurname}}</div>
							</div>
							<div class="row">
								<div class="col-md-4"><label>Tipo y Nro documento</label></div>
								<div class="col-md-8" style="word-wrap:break-word;">({{PacientesCtrl.paciente.documentType.name}}) {{PacientesCtrl.paciente.documentNumber}}</div>
							</div>
							<div class="row">
								<div class="col-md-4"><label>Fecha nacimiento</label></div>
								<div class="col-md-8" style="word-wrap:break-word;">{{PacientesCtrl.paciente.birthDate}}</div>
							</div>
							<div class="row">
								<div class="col-md-4"><label>Email</label></div>
								<div class="col-md-8" style="word-wrap:break-word;">{{PacientesCtrl.paciente.email}}</div>
							</div>
							<div class="row">
								<div class="col-md-4"><label>Teléfono</label></div>
								<div class="col-md-8" style="word-wrap:break-word;">{{PacientesCtrl.paciente.primaryPhoneNumber}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
