<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Nueva agenda</h3>
    </div>
    <div class="panel-body">
      <form name="NewAgendaCtrl.newAgendaForm">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="alert alert-dismissable alert-warning" ng-show="NewAgendaCtrl.errorMessage">
              <button type="button" class="close" ng-click="NewAgendaCtrl.hideErrorMessage()">×</button>
              <p>{{NewAgendaCtrl.errorMessage}}</p>
            </div>
          </div>
          <div class="row">
            <br>
            <div class="col-xs-5">
              <span><label>Profesional*</label></span>
              <div class="form-group"
                   ng-class="{'has-error':NewAgendaCtrl.newAgendaForm.selectedProfesional.$error.required}">
                <select name="selectedProfesional" class="form-control" ng-model="NewAgendaCtrl.selectedProfesional"
                        ng-options='profesional as (profesional.fatherSurname + ", " + profesional.firstName) for profesional in NewAgendaCtrl.profesionales track by profesional.id'
                        ng-change="NewAgendaCtrl.searchEspecialidades()" ng-disabled="NewAgendaCtrl.showTable" required>
                </select>
              </div>
            </div>
            <div class="col-xs-5">
              <span><label>Especialidades*</label></span>
              <div class="form-group"
                   ng-class="{'has-error':NewAgendaCtrl.newAgendaForm.selectedEspecialidad.$error.required}">
                <select name="selectedEspecialidad" class="form-control" ng-model="NewAgendaCtrl.selectedEspecialidad"
                        ng-disabled="!NewAgendaCtrl.selectedProfesional || NewAgendaCtrl.showTable"
                        ng-options='especialidad as especialidad.name for especialidad in NewAgendaCtrl.especialidades track by especialidad.id'
                        ng-change="NewAgendaCtrl.searchPrestaciones()" required>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">
              <span><label>Prestacion*</label></span>
              <div class="form-group"
                   ng-class="{'has-error':NewAgendaCtrl.newAgendaForm.selectedPrestacion.$error.required}">
                <select name="selectedPrestacion" class="form-control" ng-model="NewAgendaCtrl.selectedPrestacion"
                        ng-disabled="!NewAgendaCtrl.selectedEspecialidad || NewAgendaCtrl.showTable"
                        ng-options='prestacion as prestacion.name for prestacion in NewAgendaCtrl.prestaciones track by prestacion.id'
                        required>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-11">
              <span><label>Vigencia</label></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-11">
              <div class="form-group">
                <span><label>Desde*</label></span>
                <input name="validFrom" rsmdatedropdowns ng-model="NewAgendaCtrl.agenda.validFrom" ng-disabled="true"/>
              </div>
            </div>
          </div>
          <div class="row">
            <br>
            <div class="col-xs-11">
              <div class="form-group">
                <span><label>Hasta*</label></span>
                <input name="validTo" rsmdatedropdowns ng-model="NewAgendaCtrl.agenda.validTo" ng-disabled="true"/>
              </div>
            </div>
          </div>
          <div class="row">
            <br>
            <div class="col-xs-11">
              <span><label>Horario de atención</label></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">
              <span><label>Desde*</label></span>
            </div>
            <div class="col-xs-5">
              <span><label>Hasta*</label></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">
              <div class="col-xs-5" ng-class="{'has-error':NewAgendaCtrl.newAgendaForm.hoursFrom.$error.required}">
                <input type="number" name="hoursFrom" class="form-control" ng-model="NewAgendaCtrl.hoursFrom" value="0"
                       min="0" max="24" ng-disabled="NewAgendaCtrl.showTable" required>Horas
              </div>
              <div class="col-xs-5" ng-class="{'has-error':NewAgendaCtrl.newAgendaForm.minutesFrom.$error.required}">
                <input type="number" name="minutesFrom" class="form-control" ng-model="NewAgendaCtrl.minutesFrom"
                       value="0" min="0" max="59" ng-disabled="NewAgendaCtrl.showTable" required>Minutos
              </div>
            </div>
            <div class="col-xs-5">
              <div class="col-xs-5" ng-class="{'has-error':NewAgendaCtrl.newAgendaForm.hoursTo.$error.required}">
                <input type="number" name="hoursTo" class="form-control" ng-model="NewAgendaCtrl.hoursTo" value="0"
                       min="0" max="24" ng-disabled="NewAgendaCtrl.showTable" required>Horas
              </div>
              <div class="col-xs-5" ng-class="{'has-error':NewAgendaCtrl.newAgendaForm.minutesTo.$error.required}">
                <input type="number" name="minutesTo" class="form-control" ng-model="NewAgendaCtrl.minutesTo" value="0"
                       min="0" max="59" ng-disabled="NewAgendaCtrl.showTable" required>Minutos
              </div>
            </div>
          </div>
          <div class="row">
            <br>
            <table class="table" ng-show="NewAgendaCtrl.showTable">
              <thead>
              <tr>
                <th>
                  <label/>
                </th>
                <th ng-repeat="day in NewAgendaCtrl.daysStr">
                  <label>{{day.name}} <input type="checkbox" ng-model="day.selected" ng-click="NewAgendaCtrl.checkAllColumn(day)" /></label>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="period in NewAgendaCtrl.agenda.periods">
                <td align="center">{{period.start}}-{{period.end}} <input type="checkbox" ng-model="period.selected" ng-click="NewAgendaCtrl.checkAllRow(period)"></td>
                <td align="center" ng-repeat="day in period.daysOfWeek"><input type="checkbox" ng-model="day.selected" ng-change="NewAgendaCtrl.changeState(day, period)">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <div
                  class="col-xs-2 col-xs-offset-7 col-sm-2 col-sm-offset-7 col-md-2 col-md-offset-7 col-lg-2 col-lg-offset-7">
                  <button id="btn-cancel" type="button" class="btn btn-default" ng-click="NewAgendaCtrl.close()">
                    Cancelar
                  </button>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                  <button id="btn-load" type="submit" class="btn btn-success pull-right" ng-show="!NewAgendaCtrl.showTable"
                          ng-click="NewAgendaCtrl.loadAgenda()"><span class="glyphicon glyphicon-ok"></span>
                    Cargar
                  </button>
                  <button id="btn-confirm" type="submit" class="btn btn-success pull-right" ng-show="NewAgendaCtrl.showTable"
                          ng-click="NewAgendaCtrl.confirm()"><span class="glyphicon glyphicon-ok"></span>
                    Confirmar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
