<div class="">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Renovar agenda</h3>
      <button type="button" class="pull-right close" ng-click="RenewAgendaCtrl.cancel();">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <div class="panel-body">
      <form name="RenewAgendaCtrl.agendaForm">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg 12">
          <div class="alert alert-danger">
              <p><i class="glyphicon glyphicon-warning-sign"></i> Los cambios que usted ingrese pueden generar la cancelación de turnos ya tomados</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <div class="row">
            <div class="alert alert-dismissable alert-warning" ng-show="RenewAgendaCtrl.errorMessage">
              <button type="button" class="close" ng-click="RenewAgendaCtrl.hideErrorMessage()">×</button>
              <p>{{RenewAgendaCtrl.errorMessage}}</p>
            </div>
          </div>
          <div class="row">
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span><label>Profesional</label></span>
              <input type="text" name="selectedProfesional" class="form-control" ng-model="RenewAgendaCtrl.selectedProfesionalName" ng-disabled="true">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span><label>Especialidades</label></span>
              <input type="text" name="selectedEspecialidad" class="form-control" ng-model="RenewAgendaCtrl.selectedEspecialidadName" ng-disabled="true">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span><label>Prestacion</label></span>
              <input type="text" name="selectedPrestacion" class="form-control" ng-model="RenewAgendaCtrl.selectedPrestacionName" ng-disabled="true">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h4>Vigencia</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <span><label>Desde*</label> <small><em>(dd/mm/aaaa o m/d/aaaa)</em></small></span>
                <p class="input-group">
                  <input type="text" class="form-control" value="{{RenewAgendaCtrl.agenda.validFrom.format('DD/MM/YYYY')}}"/>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <span><label>Hasta*</label> <small><em>(dd/mm/aaaa o m/d/aaaa)</em></small></span>
                <p class="input-group">
                  <input type="text" name="validTo" class="form-control" value="{{RenewAgendaCtrl.agenda.validTo.format('DD/MM/YYYY')}}"/>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h4>Horario de atención</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span><label>Desde*</label></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <input type="number" name="hoursFrom" class="form-control" ng-model="RenewAgendaCtrl.hoursFrom" value="0"
                     min="0" max="24">Horas
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <input type="number" name="minutesFrom" class="form-control" ng-model="RenewAgendaCtrl.minutesFrom"
                     value="0" min="0" max="59" required>Minutos
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span><label>Hasta*</label></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <input type="number" name="hoursTo" class="form-control" ng-model="RenewAgendaCtrl.hoursTo" value="0"
                     min="0" max="24" required>Horas
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <input type="number" name="minutesTo" class="form-control" ng-model="RenewAgendaCtrl.minutesTo" value="0"
                     min="0" max="59" required>Minutos
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <br>
            <table class="table">
              <thead>
              <tr>
                <th>
                  <label/>
                </th>
                <th ng-repeat="day in RenewAgendaCtrl.daysStr">
                  <label>{{day.name}} <input type="checkbox" ng-model="day.selected" ng-click="RenewAgendaCtrl.checkAllColumn(day)" /></label>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="period in RenewAgendaCtrl.agenda.periods | orderBy: '+start'">
                <td align="center">{{period.start}}-{{period.end}} <input type="checkbox" ng-model="period.selected" ng-click="RenewAgendaCtrl.checkAllRow(period)"></td>
                <td align="center" ng-repeat="day in period.daysOfWeek | orderBy: '+index'"><input type="checkbox" ng-model="day.selected" ng-change="RenewAgendaCtrl.changeState(day, period)">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
      <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7">
      </div>
      <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
        <button ng-click="RenewAgendaCtrl.cancel()" class="btn btn-default">Cancelar</button>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <button ng-click="RenewAgendaCtrl.confirm()" class="btn btn-primary"><span
          class="glyphicon glyphicon-ok"></span> Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
