<div ng-class="{container:!NewTurnoCtrl.isModal}" style="padding-bottom:70px;">
    <div class="panel panel-default">
        <div class="panel-heading">    
            <h3 class="panel-title">Nuevo turno</h3>
        </div>
        <div class="panel-body master-detail">
        	<form name="newPaciente">
                <div class="row">
            		<div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <span><label>Tipo y número de documento</label></span>
                                    </div>
                                    <div class="form-group">
                                        <!-- just add has-error in error case -->
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <select class="form-control" id="idDocType" ng-model="NewTurnoCtrl.paciente.docType.id" ng-disabled="NewTurnoCtrl.paciente.id">
                                                <option value="1" selected>DNI</option>
                                                <option value="2">LE</option>
                                                <option value="3">LC</option>
                                                <option value="4">Pasaporte</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 form-group">
                                            <input class="form-control" maxlength="20" type="text" name="dni" id="docNumber" ng-model="NewTurnoCtrl.paciente.docNumber" ng-disabled="NewTurnoCtrl.paciente.id">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            			<div class="row">
            		        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            		            <div class="form-group">
            						<span><label>Primer nombre(*)</label></span>
            						<input type="text" name="firstname" class="form-control" ng-model="NewTurnoCtrl.paciente.firstname" required ng-disabled="NewTurnoCtrl.paciente.id">
            		            </div>
            		        </div>
            		        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            		            <div class="form-group">
            						<span><label>Otros nombres</label></span>
            						<input type="text" name="othernames" class="form-control" ng-model="NewTurnoCtrl.paciente.othernames" ng-disabled="NewTurnoCtrl.paciente.id">
            		            </div>
            		        </div>
            		    </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <span><label>Apellido paterno(*)</label></span>
                                    <input type="text" name="fathersurname" class="form-control" ng-model="NewTurnoCtrl.paciente.fathersurname" required ng-disabled="NewTurnoCtrl.paciente.id">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <span><label>Apellido materno</label></span>
                                    <input type="text" name="mothersurname" class="form-control" ng-model="NewTurnoCtrl.paciente.mothersurname" ng-disabled="NewTurnoCtrl.paciente.id">
                                </div>
                            </div>
                        </div>
            			<div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <span><label>Fecha de nacimiento</label></span>
                                            <input type="date" name="birthdate" class="form-control" ng-model="NewTurnoCtrl.paciente.birthdate" ng-disabled="NewTurnoCtrl.paciente.id">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <span><label>Teléfono(*)</label></span>
                                            <input type="text" name="contactPhone" class="form-control" ng-model="NewTurnoCtrl.paciente.contactPhone" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 right-column">
                        <div class="row">
                            <table class="table"> 
                                <tbody> 
                                    <tr ng-repeat="(key, recomendation) in NewTurnoCtrl.recomendations | filter:NewTurnoCtrl.paciente" ng-class="{'bg-success':recomendation.selected}"> 
                                        <td class="col-md-5">
                                            <div><label>{{recomendation.firstname}} {{recomendation.othernames}} {{recomendation.fathersurname}} {{recomendation.mothersurname}}</label></div>
                                            <div>{{recomendation.docType.name}} {{recomendation.docNumber}} <div>{{recomendation.birthdate || 'No informado'}}</div></div> 
                                        </td>
                                        <td class="col-md-4">
                                            <div><label>Tel:</label> {{recomendation.contactPhone || 'No informado'}}</div>
                                        </td>
                                        <td class="col-md-3">
                                            <button class="btn btn-success" type="button" ng-click="NewTurnoCtrl.selectPaciente(recomendation)" ng-show="!NewTurnoCtrl.paciente.id"><span class="glyphicon glyphicon-ok
        "></span></button>
                                            <button class="btn btn-default" type="button" ng-click="NewTurnoCtrl.openPacienteModal(recomendation)"><span class="glyphicon glyphicon-zoom-in
        "></span></button>
                                        </td>  
                                    </tr> 
                                </tbody> 
                            </table>
                            </div>
                        <div class="row" ng-show="NewTurnoCtrl.paciente.id">
                            <div class="col-md-12">
                                <button class="btn btn-warning" type="button" ng-click="NewTurnoCtrl.clearPacienteSelection()" ><span class="
glyphicon glyphicon-remove"></span> Limpiar seleccion de paciente</button>
                            </div>  
                        </div>
                    </div>  
                </div>
                
                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <span><label>Especialidad(*)</label></span>
                                    <select class="form-control" ng-model="NewTurnoCtrl.selectedEspecialidad" ng-options="especialidad.name for especialidad in NewTurnoCtrl.especialidades" required></select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <span><label>Médico</label></span>
                                    <select class="form-control" ng-model="NewTurnoCtrl.selectedMedico" ng-options="medico.name for medico in NewTurnoCtrl.medicos"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <span><label>Prestación(*)</label></span>
                                    <select class="form-control" ng-model="NewTurnoCtrl.selectedPrestacion" ng-options="prestacion.name for prestacion in NewTurnoCtrl.prestaciones" required></select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <span><label>Fecha(*)</label></span>
                                    <input type="date" name="turnDate" class="form-control" ng-model="NewTurnoCtrl.newTurno.turnDate" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row" ng-show="NewTurnoCtrl.selectedPrestacion">
                            <div><b>{{NewTurnoCtrl.selectedPrestacion.name}}</b></div>
                            <div>{{NewTurnoCtrl.selectedPrestacion.description}}</div>
                            <div>Duracion: {{NewTurnoCtrl.selectedPrestacion.duration}}</div>
                            <div>Observaciones: {{NewTurnoCtrl.selectedPrestacion.notes}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <uib-tabset>
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="glyphicon glyphicon-list-alt"></span> Listado
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table"> 
                                        <thead> 
                                            <tr>
                                                <th></th> 
                                                <th>Fecha</th> 
                                                <th>Hora</th> 
                                                <th>Hasta</th>
                                                <th>Especialidad</th> 
                                                <th>Prestaciones</th> 
                                                <th>Medico</th> 
                                            </tr> 
                                        </thead> 
                                        <tbody ng-show="NewTurnoCtrl.showTurnos()"> 
                                            <tr ng-repeat="(key, turno) in NewTurnoCtrl.turnos" ng-class="{'bg-success':turno.selected}" ng-click="NewTurnoCtrl.updateSelectionRow($index,NewTurnoCtrl.turnos)"> 
                                                <td><input type="checkbox" ng-checked="turno.selected"></td>
                                                <td>{{turno.date}}</td> 
                                                <td>{{turno.hour}}</td> 
                                                <td>{{turno.hourTo}}</td> 
                                                <td>{{turno.especialidad.name}}</td> 
                                                <td>{{turno.prestacion.name}}</td> 
                                                <td>{{turno.medic.name}}</td> 
                                            </tr> 
                                        </tbody> 
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab select="NewTurnoCtrl.renderCalendar()">
                            <uib-tab-heading>
                                <span class="glyphicon glyphicon-calendar"></span> Calendario
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-md-9">
                                    <div ui-calendar="NewTurnoCtrl.calendarConfig" ng-model="NewTurnoCtrl.eventSources" calendar="newTurnosCalendar"></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row" ng-show="NewTurnoCtrl.selectedTurno">
                                        <div><b>{{NewTurnoCtrl.selectedTurno.date}}</b></div>
                                        <div>Horario: {{NewTurnoCtrl.selectedTurno.hour}} - {{NewTurnoCtrl.selectedTurno.hourTo}}</div>
                                        <div>Medico: {{NewTurnoCtrl.selectedTurno.medic.name}}</div>
                                        <div>Especialidad: {{NewTurnoCtrl.selectedTurno.especialidad.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                      </uib-tabset>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <button id="btn-confirm" type="button" class="btn btn-success" ng-disabled="!NewTurnoCtrl.selectedTurno">Confirmar</button>
                            </div>
                            <div class="col-md-6">
                                <button id="btn-cancel" type="button" class="btn btn-danger">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
        	</form>
        </div>
    </div>
</div>