<div class="">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">¿Cancelar?</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <p class="text-danger">¿Está seguro de que desea cancelar el siguiente turno?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span><label>Médico</label></span>
              <p>{{TurnoDeleteCtrl.turno.profesional.fatherSurname + ', ' + TurnoDeleteCtrl.turno.profesional.firstName}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span><label>Prestación</label></span>
              <p>{{TurnoDeleteCtrl.turno.prestacion.name}}</p>
            </div>
          </div>          
          <div class="row" ng-show="TurnoDeleteCtrl.turno.paciente">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <span><label>Paciente</label></span>
              <p>{{TurnoDeleteCtrl.turno.paciente.fatherSurname + ', ' + TurnoDeleteCtrl.turno.paciente.firstName}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <span><label>Fecha</label></span>
              <p>{{TurnoDeleteCtrl.turno.day | date : 'dd-MM-yyyy'}} </p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <span><label>Hora</label></span>
              <p>{{TurnoDeleteCtrl.turno.start}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <button ng-click="TurnoDeleteCtrl.dismiss()" class="btn btn-default">Cancelar
              </button>
              <button ng-click="TurnoDeleteCtrl.cancelTurn()" class="btn btn-danger pull-right"><i class="glyphicon glyphicon-remove"> </i> Eliminar
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>