<div class="modal fade" ng-class="{'in':TurnoSlotDetailCtrl.cancelModal.style}" ng-style="TurnoSlotDetailCtrl.cancelModal.style">
  <div class="modal-dialog modal-confirmation">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">¿Cancelar turno?</h4>
      </div>
      <div class="modal-body">
        <p>¿Esta seguro que desea cancelar el turno seleccionado?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-cancel" ng-click="TurnoSlotDetailCtrl.cancelModal.dismiss()">Cerrar
        </button>
        <button type="button" class="btn btn-danger btn-confirm" ng-click="TurnoSlotDetailCtrl.cancelModal.confirm()"><span
          class="glyphicon glyphicon-remove"></span> Cancelar turno
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" ng-class="{'in':TurnoSlotDetailCtrl.presentModal.style}" ng-style="TurnoSlotDetailCtrl.presentModal.style">
  <div class="modal-dialog modal-confirmation">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Marcar como presente</h4>
      </div>
      <div class="modal-body">
        <p>¿Esta seguro que desea marcar como presente al turno seleccionado?</p>
        <div class="form-group">
          <span><label>Notas</label></span>
          <textarea name="notes" class="form-control" ng-model="TurnoSlotDetailCtrl.newNotes" rows="3" maxlength="150"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-cancel" ng-click="TurnoSlotDetailCtrl.presentModal.dismiss()">Cerrar
        </button>
        <button type="button" class="btn btn-success btn-confirm" ng-click="TurnoSlotDetailCtrl.presentModal.confirm()"><span
          class="glyphicon glyphicon-ok"></span> Confirmar 
        </button>
      </div>
    </div>
  </div>
</div>


<div class="">
  <div class="panel" ng-class="TurnoSlotDetailCtrl.panelStyle()">
    <div class="panel-heading">
      <h3 class="panel-title">{{TurnoSlotDetailCtrl.title}}</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <span><label>Médico</label></span>
              <p>{{TurnoSlotDetailCtrl.turnoSlot.profesional.fatherSurname + ', ' + TurnoSlotDetailCtrl.turnoSlot.profesional.firstName}}</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <span><label>Prestación</label></span>
              <p>{{TurnoSlotDetailCtrl.turnoSlot.prestacion.name}}</p>
            </div>
          </div>          
          <div class="row" ng-show="TurnoSlotDetailCtrl.turno.paciente">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <span><label>Paciente</label></span>
              <p>{{TurnoSlotDetailCtrl.turno.paciente.fatherSurname + ', ' + TurnoSlotDetailCtrl.turno.paciente.firstName}}</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="TurnoSlotDetailCtrl.turno.paciente && TurnoSlotDetailCtrl.turno.paciente.socialService">
              <span><label>Obra Social</label></span>
              <p>{{TurnoSlotDetailCtrl.turno.paciente.socialService.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <span><label>Fecha</label></span>
              <p>{{TurnoSlotDetailCtrl.turnoSlot.day | date : 'dd-MM-yyyy'}} </p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <span><label>Hora</label></span>
              <p>{{TurnoSlotDetailCtrl.turnoSlot.start}}</p>
            </div>
          </div>
          <div class="row" ng-show="TurnoSlotDetailCtrl.canSeeAudit()">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <span><label>Usuario que creó</label></span>
              <p>{{TurnoSlotDetailCtrl.turnoSlot.currentTurno.createdBy.first_name}} {{TurnoSlotDetailCtrl.turnoSlot.currentTurno.createdBy.last_name}}</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <span><label>Usuario que modificó</label></span>
              <p>{{TurnoSlotDetailCtrl.turnoSlot.currentTurno.lastModifiedBy.first_name}} {{TurnoSlotDetailCtrl.turnoSlot.currentTurno.lastModifiedBy.last_name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="TurnoSlotDetailCtrl.turno.notes">
              <span><label>Notas</label></span>
              <p>{{TurnoSlotDetailCtrl.turno.notes}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <button ng-click="TurnoSlotDetailCtrl.cancelModal.show()" class="btn btn-danger" ng-show="TurnoSlotDetailCtrl.showDelete()"><i class="glyphicon glyphicon-remove"> </i> Cancelar turno
              </button>
              <button ng-click="TurnoSlotDetailCtrl.dismiss()" class="btn btn-default pull-right">Cerrar
              </button>
              <button ng-click="TurnoSlotDetailCtrl.presentModal.show()" class="btn btn-success pull-right" ng-show="TurnoSlotDetailCtrl.showMarkAsPresent()" style="margin-right: 20px;"><i class="glyphicon glyphicon-ok"> </i> Marcar presente
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>