<div class="container">
	<div class="col-md-3">
		<div class="panel panel-default">
		  	<div class="panel-heading">    
		  		<h3 class="panel-title">Profesionales</h3>
			</div>
		  	<div class="panel-body">
		  		<form name="TurnosCtrl.searchProfesionalForm">
					<div class="form-group">
						<input type="text" name="firstname" class="form-control" ng-model="TurnosCtrl.search.firstName" placeholder="Nombre del profesional" ></input>
		            </div>	    		
			        <div class="checkbox" ng-repeat="(key, profesional) in TurnosCtrl.profesionales | filter:TurnosCtrl.search" >
				  		<label>
					    	<input type="checkbox" ng-checked="profesional.selected" ng-click="TurnosCtrl.selectProfesional(profesional)">
					    	{{profesional.fatherSurname}},{{profesional.firstName }}
					  	</label>
					</div>
				</form>
  			</div>
		</div>	
	</div>
	<div class="col-md-9" id="printSection">
		<h4 id="printSectionTitle">{{TurnosCtrl.selectedProfesional.fatherSurname}},{{TurnosCtrl.selectedProfesional.firstName }}</h4>
		<div ui-calendar="TurnosCtrl.calendarConfig" ng-model="TurnosCtrl.eventSources" class="turnos-calendar"  calendar="turnsCalendar"></div>	
		<div id="printSectionWithoutTurno">
			<span>Pacientes sin turno (Solo los da el profesional)</span>
			<table class="table table-bordered">
				<tr>
					<td>1</td>
				</tr>
				<tr>
					<td>2</td>
				</tr>
				<tr>
					<td>3</td>
				</tr>
				<tr>
					<td>4</td>
				</tr>
				<tr>
					<td>5</td>
				</tr>
			</table>
		</div>
	</div>
</div>
