    <div class="container">
        <div class="card card-container">
            <div class="alert alert-dismissable alert-danger" ng-show="ChangePasswordCtrl.errorMessage">
                <button type="button" class="close" ng-click="ChangePasswordCtrl.hideErrorMessage()">×</button>
                <p>{{ChangePasswordCtrl.errorMessage}}</p>
            </div>
            <p id="profile-name" class="profile-name-card">
                Ingrese tanto la contraseña vieja como la nueva para cambiarla
            </p>
            <form class="form-signin" name="ChangePasswordCtrl.changePasswordForm" ng-submit="ChangePasswordCtrl.changePassword()">
                <span id="reauth-email" class="reauth-email"></span>
                <div class="form-group">
                    <input type="password" id="oldPassword" name="oldPassword" ng-model="ChangePasswordCtrl.oldPassword" class="form-control" placeholder="Password anterior" required>
                </div>
                <div class="form-group">
                    <input type="password" id="newPassword" name="newPassword" ng-model="ChangePasswordCtrl.newPassword" class="form-control" placeholder="Nueva password" required>
                </div>
                <div class="form-group">
                    <input type="password" id="repeatNewPassword" name="repeatNewPassword" ng-model="ChangePasswordCtrl.repeatNewPassword" class="form-control" placeholder="Repita nueva password" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Confirmar</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->