<div class="">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Cargar ausencia</h3>
        </div>
        <div class="panel-body">
            <form name="AddLeaveCtrl.leaveForm">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="alert alert-dismissable alert-danger">
                            <p><span class="glyphicon glyphicon-warning-sign"></span> Los cambios realizados no se podran volver atrás</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="alert alert-dismissable alert-warning" ng-show="AddLeaveCtrl.errorMessage">
                            <button type="button" class="close" ng-click="AddLeaveCtrl.hideErrorMessage()">×</button>
                            <p>{{AddLeaveCtrl.errorMessage}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <span><label>Ausencia por</label></span>
                            <div class="form-group" ng-class="{'has-error':AddLeaveCtrl.leaveForm.reason.$error.required}">
                                <select class="form-control" name="reason" ng-model="AddLeaveCtrl.newLeave.reason" ng-required>
                                <option value="congreso">Congreso</option>
                                <option value="enfermedad">Enfermedad</option>
                                <option value="vacaciones">Vacaciones</option>
                                <option value="otros">Otros</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-11">
                            <div class="form-group" ng-class="{'has-error':AddLeaveCtrl.leaveForm.fromDate.$error.required}">
                                <span><label>Desde el día</label></span>
                                <input rsmdatedropdowns ng-model="AddLeaveCtrl.newLeave.fromDate"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-11">
                            <div class="form-group" ng-class="{'has-error':AddLeaveCtrl.leaveForm.toDate.$error.required}">
                                <span><label>Hasta el día</label></span>
                                <input rsmdatedropdowns ng-model="AddLeaveCtrl.newLeave.toDate"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <span><label>Notas</label></span>
                                <textarea rows="4" cols="50" name="notes" maxlength="150" class="form-control" ng-model="AddLeaveCtrl.newLeave.notes">
                                </textarea>
                                <span><label>(máximo 150 caracteres)</label></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-xs-6 col-sm-offset-7 col-sm-2 col-md-offset-7 col-md-2 col-lg-offset-7 col-lg-2">
                <button ng-click="AddLeaveCtrl.cancel()" class="btn btn-default">Cancelar</button>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <button ng-click="AddLeaveCtrl.confirm()" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Confirmar</button>
            </div>
        </div>
    </div>
</div>